@media only screen and (max-width: 1200px) {
    table {
        width: 100%;
    }
    div#about{
        margin-top: 300px;
        p {
            font-size: normal;
            width: 100%;
        }
    }
    
}

@media only screen and (max-width: 799px) {
    table {
        width: 100%;
        font-size: small;
    }
    div#about{
        margin-top: 300px;
        p {
            font-size: normal;
            width: 100%;
        }
    }
    
}


@media (max-width: 800px) {
    table {
        width: 100%;
    }
    div#about{
        margin-top: 400px;
        p {
            font-size: normal;
            width: 100%;
        }
    }
}